language: python
python:
  - "3.7"      # current default Python on localhost
  - "3.8"

# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  python3 panda_schema.py